@model LoginViewModel
@using Microsoft.Owin.Security
@using Trello.Models
@using Trello.DAL.Models
@{
    ViewBag.Title = "Home Page";
}

@{ 
   var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
   var boards = (List<Board>)TempData["Boards"]; 
}

@{
    if (!Request.IsAuthenticated)
    {
    <div id="login-modal" style="margin-top: 170px;">
        <div class="modal-dialog">
            <div class="col-xs-12 loginmodal-container">
                <div style="font-size: 50px" class="col-xs-2"><i class="fa fa-user"></i></div>
                <div style="font-size: 20px; margin-top: 30px; padding-right: 0px; padding-left: 30px" class="col-xs-10">Login to Your Account</div>
                <br>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="Email" placeholder="Username">
                    <input type="password" name="Password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                }

                <div class="col-xs-12">
                    <div class="login-help col-xs-4">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </div>
                    <div class="col-md-4 pull-right">
                        <section id="socialLoginForm">
                            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "Boards/Index" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="externalLogin" id="Google" name="provider" value="Google" title="Log in using your Google account">Google</button>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
    <div>
        <div class="text-center">
            <input type="text" id="Keyword" placeholder="Search" />
            <button type="submit" class="btn btn-default fa fa-search" id="Search"></button>
        </div>
        <div class="text-center">KanBan Board</div>
        <div class="text-center">---------------------------------------------------------------</div>
        @foreach (var board in boards)
        {
            if (board.BoardType == 1)
            { 
            <div class="board-wrapper">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                }
                <form method="GET" action="@Url.Action("Index", "UserBoards")">
                    <div class="board col-md-2" id="@board.Id">
                        <input type="hidden" name="id" value="@board.Id" />
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="col-xs-10">@board.Name </h4>
                                <div class="col-xs-2">
                                    <i style="font-size: 18px; margin-top: 10px" class="delete-board fa fa-trash-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            Tickets: @board.Tickets.Count
                        </div>
                        <div class="col-md-10">
                            Created: @board.CreatedOn
                        </div>
                        <div class="col-xs-2">
                            <i style="font-size: 18px; margin-top: 10px" class="userBoardLink fa fa-edit text-right"></i>
                        </div>
                    </div>
                </form>
            </div>
            }
        }
    </div>
    <div style="position: inherit; top: 50%; margin-top: 200px;">
        <div class="text-center">KanBan Board Template</div>
        <div class="text-center">---------------------------------------------------------------</div>
        @foreach (var board in boards)
        {
            if (board.BoardType == 2) //temp
            {
            <div class="board-wrapper">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()
                }
                <form method="GET" action="@Url.Action("Index", "UserBoards")">
                    <div class="board col-md-2" id="@board.Id">
                        <input type="hidden" name="id" value="@board.Id" />
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="col-xs-10">@board.Name </h4>
                                <div class="col-xs-2">
                                    <i style="font-size: 18px; margin-top: 10px" class="delete-board fa fa-trash-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            Tickets: @board.Tickets.Count
                        </div>
                        <div class="col-md-10">
                            Created: @board.CreatedOn
                        </div>
                        <div class="col-xs-2">
                            <i style="font-size: 18px; margin-top: 10px" class="userBoardLink fa fa-edit text-right"></i>
                        </div>
                    </div>
                </form>
            </div>
            }
        }
    </div>

    }
}
<script>
    $(document).on('click', '#Search', function () {
        var keyword = $('#Keyword').val();
        $.ajax({
            url: "/Home/Search",
            type: "POST",
            data: { keyword: keyword },
            success: function (data) {
                console.log("HI!");
            }
        });
    });
</script>
